{% extends 'navigation.html' %}
{% block start %}
    {% load static %}
    <section class="section-name padding-y-sm">
        <div class="container">
            <header class="section-heading">
                <a href="{% url 'newsfeed' %}"
                   class="btn btn-outline-primary float-right">See all</a>
                <h3 class="section-title">Latest Posts</h3>
            </header>
            <div class="row">
                {% for feed in feeds %}
                <div class="col-md-3">
                    <div class="card card-product-grid">
                        <a href="{{ feed.get_url }}" class="img-wrap">
                            <img src="{{ feed.item_image.url }}">
                        </a>
                        <figcaption class="info-wrap">
                            <div class="fix-height">
                                <a href="{{ feed.get_url }}" class="title font-weight-bold">{{ feed.item_name }}</a>
                                {% if feed.status == 'L' %}
                                    <div class="missing mt-1">Lost</div>
                                {% else %}
                                    <div class="found mt-1">Found</div>
                                {% endif %}
                                <p>
                                    {{ feed.date_created.date }} | {{ feed.date_created.time }}
                                </p>
                                
                            </div>
                        </figcaption>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
{% endblock %}
