{% extends 'navigation.html'%}
{% block start %}
<section class="section-content padding-y bg">
    <div class="container">
        <div class="row">
            <aside class="col-lg-3">
                <div class="card">
                    <article>
                        <header class="card-header">
                            <a href="#">
                                <i class="icon-control fas fa-users-cog"></i>
                                <h6 class="title">Manage Profile</h6>
                            </a>
                        </header>
                        <header class="card-header">
                            <a href="#">
                                <i class="icon-control fas fa-newspaper"></i>
                                <h6 class="title">Add Post</h6>
                            </a>
                        </header>
                        <header class="card-header">
                            <a href="#">
                                <h6 class="title">Messages</h6>
                            </a>
                        </header>
                    </article>
                </div>
            </aside>
            {% block nav %}
            {% endblock %}
        </div>
    </div>
</section>
{% endblock %}